.option-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  width: auto;
}

.option-item {
  margin: 0 8px;
  font-size: 16px;
  color: #972525;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.option-text-mobile {
  display: none;
}



.selected {
  font-weight: bold;
  color: #2b2b2b;
  border-bottom: 2px solid #972525;
}




.option-text-pc {
  display: flex;
}

.option-text-mobile {
  display: none;
}

@media screen and (max-width: 568px) {
  .option-text-pc {
    display: none;
  }

  .option-text-mobile {
    display: flex;
  }
}