@import url('https://fonts.cdnfonts.com/css/gagalin');

.home {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  max-height: 200%;
  width: 100%;
  font-family: 'Gagalin', sans-serif;
  font-size: 18px
  
}




.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  min-height: 400px;
  overflow: hidden;
  display: flex;
  

}



.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cambiar de 'contain' a 'cover' */
  display: none;
  opacity: 0.5;
}
.slider-image.active {
  display: block; /* Mostrar la imagen activa */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.slider-button.previous {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  z-index: 2;
}

.slider-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(153, 37, 37, 0.5); /* Cambiar el color a un tono más claro de rojo y agregar transparencia */
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.3s ease; /* Transición para suavizar el cambio de tamaño */
}

.slider-dot.active {
  background-color: #972525;

}

.continue-watching-section {
  width: 100%;
  text-align: center;

  cursor: pointer;
}



.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  
  
}

.card-home {
  color: #972525;
  width: 230px;
  height: 100%;
  background-color: #f0f0f0;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.card-home-continue-watching p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
}

.card-home-fixed-height {
  min-height: 350px; /* Agrega una altura mínima para las tarjetas */
  
}

.card-home-fixed-height p {
  min-height: 40px; /* Agrega una altura mínima para el título del anime */
  overflow: hidden; /* Oculta el texto que excede el espacio disponible */
}

.card-home p {
  min-height: 40px;
  overflow: hidden;
  margin: 5px 0;
  line-height: 1.2;
  display: flex; /* Agrega display: flex */
  align-items: center; /* Centra verticalmente el texto */
}

.popular {
  text-align: center;
  margin-top: 50px;
}

.ultimos {
  
  margin-top: 50px;
  
}



.card-home img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    height: 100%; /* cambiar de auto a 100% */
    margin-bottom: 0; /* cambiar de 8px a 0 */
    
}

.current{
  margin-top: 50px;
}




@media screen and (max-width: 768px) {
  .slider-container {
    width: 90%; /* Cambia el ancho del slider a 90% para que se ajuste a pantallas más pequeñas */
    height: 300px; /* Ajusta el alto del slider en pantallas medianas */

  }

  .card-home {
    width: 45%; /* Cambia el ancho de las tarjetas a 45% para que encajen en pantallas más pequeñas */
  }
}

@media screen and (max-width: 480px) {
  .slider-container {
    width: 100%; /* Cambia el ancho del slider a 100% para que se ajuste a pantallas más pequeñas */
    height: 200px; /* Ajusta el alto del slider en pantallas pequeñas */

  }

  .card-home {
    width: 90%; /* Cambia el ancho de las tarjetas a 90% para que encajen en pantallas más pequeñas */
  }
}


.slider-info {
  position: absolute;
  bottom: 10%;
  left: 6px;
  z-index: 2;
  width: 30%;
  color: white;
  padding: 10px;
}

.slider-title {
  font-size: 60px;
  margin-bottom: 10px;
}

.slider-description {
  font-size: 16px;
  margin-bottom: 10px;
  
}

.slider-episode-count {
  font-size: 14px;
  margin-bottom: 40px;
}

.slider-watch-now {
  background-color: #972525;
  color: white;
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Gagalin', sans-serif;
  width: 150px;
  border: none;
}

.slider-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(18, 26, 36) 2%, rgba(0, 0, 0, 0) 50%);
  z-index: 1;
}



.slider-gradient-left {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, rgb(18, 26, 36) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.slider-gradient-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(270deg, rgb(18, 26, 36) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

.card-container a {
  text-decoration: none;
}

.card-home-continue-watching img {
  max-height: 151px; /* Establece la altura máxima de las imágenes */
  
}

.card-home:not(.card-home-continue-watching) img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  height: 100%;
  margin-bottom: 0;
  
}




.hide-anime {
  display: none;
}

.hide-episode {
  display: none;
}

.name-button{
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  
}

.name-button button{
  font-family: 'Gagalin', sans-serif;
  color: white;
  background-color: transparent; /* Fondo transparente */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  font-size: 18px;


  

}


@media (max-width: 1038px) {

  .name-button button{
    margin-right: 6px;
  
    
  }

  .slider-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    width: 200px;
    font-size: 14px;
  }

  .slider-title {
    font-size: 1.7rem;
    width: 200%;
  }

  .slider-watch-now{
    width: 100px;
    font-size: 12px;
  }


  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 10px;
  }
  

 .card-home-continue-watching{
  box-sizing: border-box;
  width: 100%;
  height: auto;

 }
  
  
  .hide-episode {
    display: flex;
  }

  .card-home-fixed-height {
    box-sizing: border-box;
    width: 100%;
    height: auto;

  }
  
  .card-container {
    grid-template-columns: repeat(3, 1fr);
   
    
  }

  .card-home-fixed-height {
    min-height: auto; /* Agrega una altura mínima para las tarjetas */
    
  }

  .hide-anime {
    display: flex;
  }

  .home h2{
    font-size: 25px;
   }

  
}






@media screen and (min-width: 775px) and (max-width: 1634px) {
  .slider-info {
    position: absolute;
    bottom: 10%;
    left: 6px;
    z-index: 2;
    width: 70%;
    color: white;
    padding: 10px;
  }
  
  .slider-title {
    font-size: 60px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .slider-description {
    font-size: 16px;
    margin-bottom: 10px;
    width: 50%;
    
  }

  
}



 


@media screen and (min-width: 775px) and (max-width: 1311px) {
  
  
  
  .card-container {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

   
    
  }

  


}




