.container-genero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 100px;

}



.genero-title-h1 {
  font-size: 24px;
  color: white;
  display: inline;
}

@media (max-width: 775px) {
  .popular-anime-section h2 {
    font-size: 25px;
   
  }

  .all-anime-section h2{
    font-size: 25px;

  }
 
}


.h2-genero {
  font-size: 28px;
  margin-bottom: 16px;
  text-align: center;
}

.h3-genero {
  /* Estilos comunes para ambos casos */
  font-size: 18px;
  margin: 8px 0;
  min-height: 30px;
  max-height: 66px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-weight: normal;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: auto;

}

.h3-genero-largo {
  /* Estilos para nombres largos */
  justify-content: flex-start;
  text-align: left;
}

.h3-genero-corto {
  /* Estilos para nombres cortos */
  justify-content: center;
  text-align: center;
}

.h3-genero::before {
  content: attr(data-title);
  position: absolute;

  z-index: 1;
  white-space: nowrap;
  transition: opacity 0.3s;
}

.h3-genero:hover::before {
  opacity: 0;
}

.h3-genero::after {
  content: attr(data-title);
  position: absolute;

  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.h3-genero:hover::after {
  opacity: 1;
  animation: slideText 5s linear infinite;
}

@keyframes slideText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.h3-genero-link {
  text-decoration: none;
  color: #972525;
}


@media (max-width: 775px) {

  .h3-genero{
    font-size: 15px;
  }
 }


