@import url('https://fonts.cdnfonts.com/css/gagalin');
.pagination-numbers {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 16px 0;
  

}


.page-number {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  text-align: center;
  transition: all 0.3s;
  color: #972525;
  font-family: 'Gagalin', sans-serif;
}

.page-number.active,
.page-number:hover {
  background-color: #972525;
  border-color: #972525;
  color: #fff;
  text-decoration: none;
}

.page-number.active {
  cursor: default;
}

/* Estilos para los botones "Anterior" y "Siguiente" en el componente Genero */

.genero .pagination {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.genero .pagination button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  margin: 0 4px;
  padding: 6px 12px;
  text-align: center;
  transition: all 0.3s;
  
}

.genero .pagination button:hover {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  text-decoration: none;
  
}

.genero .pagination button:disabled {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: rgba(0, 123, 255, 0.1);
  color: rgba(0, 123, 255, 0.5);
  cursor: not-allowed;
  
}

.button-one  {
  font-family: 'Gagalin', sans-serif;
  color:#972525 ;
}

.button-two  {
  font-family: 'Gagalin', sans-serif;
  color:#972525 ;

}

.button-one:hover  {
  background-color: #972525;
  border-color: #972525;
  color: #fff;
}

.button-two:hover  {
  background-color: #972525;
  border-color: #972525;
  color: #fff;
}

  

