@import url('https://fonts.cdnfonts.com/css/gagalin');

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-main {
  flex-grow: 1;
}


body {
  font-family: 'Gagalin', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(18, 26, 36);
  margin: 0;

}



h2{
  color: #f4f4f4;
  
}

