@import url('https://fonts.cdnfonts.com/css/gagalin');

.password-reset {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 180px;
    
  }
  
  .password-reset h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #972525;
    margin-bottom: 25px;
  }
  
  .password-reset form {
    display: flex;
    flex-direction: column;
  }
  
  .password-reset input {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    font-family: 'Gagalin', sans-serif;
  }
  
  .password-reset input:focus {
    border-color: #972525;
    outline: none;
  }
  
  .password-reset button {
    padding: 10px 12px;
    background-color: #972525;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Gagalin', sans-serif;
  }
  
  
  
  .password-reset p {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 15px;
    
  }
  
  .password-reset p.error {
    color: #972525;
  }